body{
	margin:0;
	padding:0;
}
.backgrounds{
	background-image:url("background.png");
	width:100vw;
	height:100vh;
}
.none{
	display:none;
}
.block{
	display:block;
}
.pierwszy{
	padding:2.5%;
	float:left;
}
.drugi{
	margin-left:25%;
	margin-top:10%;
	float:left;
}